.rooms-list {
    color: white;
    
    .r-list-header {
        height: 40px;
        color: black;
        font-size: 20px;
        display: flex;
        align-items: center;
        margin: 18px;

        .back {
            cursor: pointer;
        }
    }

    .r-list {
       
        width: 100%;
        height: calc(100% - 40px);
        padding: 20px;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        .rooms-loader {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
        }

        .room {
            position: relative;
            width: 90%;
            min-height: 100px;
            padding: 20px;
            background: var(--ui-primary);
            border-radius: 10px;
            margin: 10px auto;

            .room-name {
                font-size: 20px;
            }

            .room-desc {
                width: 80%;
                padding: 10px;
            }

            .user-count {
                position: absolute;
                top: 10px;
                right: 20px;
            }

            .join-room-btn {
                position: absolute;
                bottom: 10px;
                right: 20px;
                padding: 10px 20px;
                background: white;
                color: black;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}