.new-username-form {
        position: absolute;
        top: -50%;
        left: 10px;
        background: var(--ui-tertiary);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        border-radius: 10px;
        transition: all 0.3s ease;
        z-index: 99;
        
        &.active {
            top: 10px;
        }

        .close-wrapper {
            display: grid;
            place-items: center;
            width: 24px;
            height: 24px;
            font-size: 16px;
            border-radius: 50%;
            background: black;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease;

            position: absolute;
            top: 20px;
            right: 20px;
        }

        .title {
            text-decoration: underline;
        }

        .field {
            margin: 20px;
            display: grid;

            input {
                border: none;
                outline: none;
                font-size: 16px;
                margin: 20px;
                width: 300px;
                padding: 10px 4px;
                background: transparent;
                border-bottom: 1px solid black;
            }
        }

        .remember-username {
            margin: 4px;
            span {margin-inline: 4px;}
        }

        button.change_username {
            border: none;
            background: black;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            padding: 10px 20px;
        }
    }