.welcome {
    .welcome-sub-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .left {
            display: flex;
            font-size: 18px;
            gap: 20px;
        
            .users-count {
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;

                .online, .offline {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .indicator {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #3cfd0b;
                        margin-inline: 10px;
                    } 
                }

                .offline .indicator {background: red};
            }

            .username {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
            }
        }

        .right {
            display: flex;
            gap: 20px;
            font-size: 24px;
        }
    }
    .searching {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .cancel-search {
            border: none;
            outline: none;
            margin: 10px;
            padding: 16px;
            border-radius: 5px;
            background: var(--ui-primary);
            color: white;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background: var(--ui-black);
            }
        }

    }

    .app-meta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: black;

        .logo {
            font-size: 80px;
            color: var(--ui-primary);
        }
        
        .welcome-text {
            font-size: 18px;
            padding: 20px;
            
            .welcome-text-title {
                font-size: 24px;
                font-weight: 600;
                text-align: center;
                color: var(--ui-primary);
                
                span {
                    font-size: 30px;
                    font-weight: 400;
                    font-family: "Pacifico", cursive;
                    color: var(--ui-secondary);
                }
            }

            .welcome-text-content {
                padding: 20px;

                ul {
                    padding: 20px;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                border: none;
                outline: none;
                margin: 10px;
                padding: 16px;
                border-radius: 5px;
                background: var(--ui-primary);
                color: white;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    background: var(--ui-black);
                }
            }
        }
    }
}