.App {
  width: 100vw;
  height: 100vh;
  background: #000;
  font-family: "Roboto", sans-serif;
  color: white;
}

.chat {
  width: 100vw;
  position: fixed;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}