:root {
  --ui-black: #000;
  --ui-primary: #0c75a1;
  --ui-tertiary: #70C1B3;
  --ui-secondary: #FF1654;
  --ui-gray: #B2DBBF;
  --ui-white: #dbdbdb;
}

.App {
  width: 100vw;
  height: 100vh;
  background: var(--ui-black);
  font-family: "Roboto", sans-serif;
  color: var(--ui-black);
}

.chat {
  width: 100vw;
  position: fixed;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.component-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 80vh;
    background: var(--ui-white);
    padding: 20px;
    border-radius: 5px;

    @media(max-width: 768px) {
        height: calc(100vh - 80px);
        border-radius: 0;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: transparent;
}